* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.gallery {
  max-width: calc(360px* 3 + 24px* 2);
  margin: 24px auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
  justify-content: center;
}

.gallery-item {
  max-width: 360px;
  max-height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-out;
}

.gallery-image:hover {
  cursor: ponter;
  transform: scale(1.044444, 1.04);
}
